main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}

.section-title {
  width: 100%;
  text-align: center;
}
.pokemon-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
  width: 200px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 50px;
}