html {
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  align-items: center;
  font-size: x-large;
  font-weight: 700;
  display: flex;
  background-color: deepskyblue;
  justify-content: space-around;
  padding: 15px 30px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 15px;
}

.container {
  display: flex;
}

article {
  background-color: rgb(160, 226, 251);
  border-radius: 10px;
  width: 70%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content p {
  max-width: 70%;
}

.aside-one,.aside-two {
  border-radius: 10px;
  background-color: rgb(160, 226, 251);
  margin-right: 10px;
  margin-top: 10px;
  display: block;
}

.aside-one,.aside-two h2 {
  text-align: center;
}

.aside-one ul {
  list-style: none;
  padding: 20px;
}

.aside-two ul {
  list-style: none;
  padding: 20px;
}

footer {
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(160, 226, 251);
  display: flex;
  justify-content: center;
  padding-left: 43%;
}

footer div {
  flex-direction: row;
}

@media screen and (min-width: 1300px) {
  .aside-one, .aside-two {
    padding-top: 10px;
  }

  .aside-two {
    height: 2357px;
  }

  footer {
    padding: 3% 10%;
  }

  footer div {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .main-content {
    width: 100%;
  }

  p,li {
    font-size: large;
  }
}

@media screen  and (min-width: 601px) and (max-width: 1300px){
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  li,p {
    font-size: large;
  }

  article {
    width: 100%;
  }

  article h1 {
    font-size: x-large;
  }

  header {
    font-size: large;
  }

  footer {
    padding: 3% 10%;
  }

  footer div {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  footer div p {
    width: 100%;
  }

  .container-asides {
    display: flex;
    width: 100%;
  }

  .aside-one, .aside-two {
    width: 50%;
  }

  .aside-two ul {
    text-align: center;
  }
}