body {
    font-size: 1.2em;
    margin: 20px;
}
h1 {
    font-size: xx-large;
}
h2 {

}

img {
    max-width: 100%;
    margin: 20px;

}

figure {
    margin: 0;
}

@media  (min-width: 800px) {
    
}